<div id="components-reconnect-modal" style="display:none;">
    <div class="components-reconnect-container">
        <p>Attempting to reconnect to the server...</p>
        <p>Reload the page if this persists.</p>
    </div>
</div>