@page "/pace"
@rendermode InteractiveServer
@inject MovieApiService MovieApiService

<ErrorMessage Message="@errorMessage" />

@if (pace == null && errorMessage == null)
{
    <div class="d-flex align-items-center gap-3">
        <div class="spinner-border text-primary" role="status"></div>
        <p class="mb-0">Laddar historik...</p>
    </div>
}
else if (pace != null)
{
    <ApexChart TItem="PaceDto"
               Title="Filmer per månad"
               Options="chartOptions">

        <ApexPointSeries TItem="PaceDto"
                         Items="pace"
                         Name="Filmer"
                         SeriesType="SeriesType.Line"
                         XValue="@(p => p.WatchedMonth)"
                         YValue="@(p => p.Count)" />
    </ApexChart>
}
@code {
    private List<PaceDto>? pace;
    private string? errorMessage;
    private ApexChartOptions<PaceDto> chartOptions = new()
    {
        Chart = new Chart
        {
            Height = 220,
            Background = "#1a1a2e",
            ForeColor = "#ffffff",
            Zoom = new Zoom { Enabled = false, AllowMouseWheelZoom = false },
            Toolbar = new Toolbar { Show = false },
            Selection = new Selection { Enabled = false}

        },
        Theme = new Theme { Mode = Mode.Dark },
        Stroke = new Stroke { Curve = Curve.Smooth, Width = 3 },
        Grid = new Grid { BorderColor = "#333" },
    };

    protected override async Task OnInitializedAsync()
    {
        try
        {
            pace = await MovieApiService.GetUserPaceAsync();
        }
        catch (Exception)
        {
            errorMessage = "Kunde inte hämta historik. Kolla så API:et är igång.";
        }
    }
}